[data-md-color-scheme="sibils"] {
	--md-primary-fg-color: #c40300;
	--md-primary-fg-color--light: #ff0300;
	--md-primary-fg-color--dark: #b20200;
	--md-accent-fg-color: #b20200;
}

p a.md-button--primary {
	margin: 1rem 3rem;
}

.sibils-service {
	/* make the button always the width
	67% so on mobile the button remains inside the screen width 
	*/
	width: min(12rem, 67%);
}

.sibils-service:hover {
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

article ul.partners {
	list-style: none !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	flex-wrap: wrap !important;
}

article ul.partners li {
	display: block;
	margin: 1rem 0 !important;
}

article ul.partners li a {
	display: block;
}

article ul.partners li span {
	display: none;
}

article ul.partners li a img {
	display: block;
	margin: auto 1rem;
	max-width: 7rem;
	height: 3rem;
	object-fit: contain;
}

article ul.partners li a img.bigger {
	height: 5rem;
}